
.onenewbuilding {
   &__wrapper {
      margin-top: 44px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      .newbuildings__item {
         &__img {
            img {
               width: 100%;
            }
         }
      }
   }
}


@media(max-width: 991px) {
    .onenewbuilding {
        &__wrapper {
            gap: 20px;
     }
    }
}

@media(max-width: 810px) {
    .onenewbuilding {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
     }
    }
}

@media(max-width: 600px) {
    .onenewbuilding {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
     }
    }
 }
@media(max-width: 350px) {
   .onenewbuilding {
      &__wrapper {
         grid-template-columns: 1fr;
      }
   }
}
